.expenses {
  gap: 1rem;
}

.expense {
  gap: 2rem;
  background-color: aliceblue;
  text-transform: capitalize;
}

.expense__description {
  line-height: 2rem;
}

.expenses-new__link {
  border: none;
  background-color: cadetblue;
  /* text */
  color: azure;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 2;
}
